LINKEDIN_ACCESS_TOKEN=
LINKEDIN_ORGANIZATION_ID=
LINKEDIN_ORGANIZATION_URN=
LINKEDIN_COMPANY_NAME="OCEANIC STAR SHIPPING PVT LTD"
NEXT_PUBLIC_LINKEDIN_COMPANY_URL="https://www.linkedin.com/company/oceanic-star-shipping-private-limited/"
LINKEDIN_API_VERSION=202609
